.home_cryptos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
}

.home_cryptos h3 {
  font-size: 40px;
  margin: 0;
  text-align: center;
}
.home_cryptos_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: min-content;
  align-items: center;

}
/* .home_cryptos_list */
.home_cryptos_list li {
  width: 100%;
  box-sizing: border-box;
  
}
.home_cryptos_gap {
  max-width: 200px;
  height: 40px;
  background: rgb(17, 149, 145);
  background: linear-gradient(
    126deg,
    rgba(17, 149, 145, 1) 0%,
    rgb(104, 44, 91) 91%
  );
  box-shadow: inset 0 0 10px 5px rgba(43, 44, 49, 0.656);
}
/* .home_cryptos_list li:nth-child(1), .home_cryptos_list li:nth-child(5){
  max-width: 1000px;
} */
@media (max-width: 250px){
  .home_cryptos{
    word-break: break-all;
  }
}
