/* home_aprensatation */

.home_aprensatation {
  display: flex;
  flex-wrap: nowrap;

  gap: 100px;
  margin-bottom: 40px;

}
.home_aprensatation_text {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.home_aprensatation_text_title {
  font-size: 70px;
  line-height: 70px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home_aprensatation_text_title_emphasis {
  position: absolute;
  bottom: -10px;
  left: 10px;
  color: transparent;
  border: 10px solid rgb(134, 182, 255);
  border-top: 5px solid rgb(243, 173, 210);
  border-radius: 100%;
}
.home_aprensatation_text p {
  font-size: 20px;
  color: rgb(193, 188, 207);
  font-weight: 600;
}
.home_aprensatation_text__link {
  padding: 15px 20px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: rgb(255, 179, 179);
  background: linear-gradient(
    143deg,
    rgba(255, 179, 179, 1) 2%,
    rgba(100, 150, 241, 1) 46%,
    rgba(193, 93, 255, 1) 100%
  );
  max-width: 200px;
  transition: 0.15s;
  overflow: hidden;
}
.home_aprensatation_text__link:hover {
  background: rgb(255, 179, 179);
  background: linear-gradient(
    143deg,
    rgba(255, 179, 179, 1) 48%,
    rgba(193, 93, 255, 1) 100%
  );
  box-shadow: 0 3px 10px 2px rgba(6, 255, 184, 0.212);
}
.home_aprensatation_text__link svg {
  font-size: 25px;
}
.home_aprensatation_text_actions {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  flex-wrap: wrap;
}

.home_aprensatation_img {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.home_aprensatation_img__smart {
  width: 300px;
}
.home_aprensatation_img__rot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  animation-name: rotatelogo;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotatelogo {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

/* MEDIA QUERIES */
@media (max-width: 1100px) {
  .home_aprensatation_img__rot {
    left: -50px;
  }
}
@media (max-width: 950px) {
  .home_aprensatation_img {
    display: none;
  }
  .home_aprensatation_img__rot {
    animation: none;
  }
}
@media (max-width: 700px) {
  .home_aprensatation_text_title {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.398);
    line-height: 100%;
  }
  .home_aprensatation_text_title_emphasis {
    text-shadow: none;
  }
}
@media (max-width: 570px) {
  .home_aprensatation_text_title {
    font-size: 12vw;
  }
  .home_aprensatation_text p {
    color: rgb(224, 216, 254);
  }
}

@media (max-width: 250px) {
  .home_aprensatation_text {
    word-break: break-all;
  }

  .home_aprensatation_text_title {
    font-size: 35px;
    word-break: break-all;
  }
  .home_aprensatation_text_title_emphasis {
    display: none;
  }
}
@media (max-width: 130px) {
  .home_aprensatation_text_actions {
    flex-direction: column;
  }
  .home_aprensatation_text__link {
    padding: 0;
  }
  .home_aprensatation_text__link svg {
    display: none;
  }
}
